healthcare-medtech/n8n_workflows/MedTech MCP.json
{
  "name": "MedTech MCP",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"record_id\": 1\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        64,
        0
      ],
      "id": "40da002b-0006-4477-99fe-f56046c92361",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Individuals",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.record_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "78f67f59-60c4-41d2-85c6-f83b88e4e62f",
      "name": "Patient Record",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "grw4lm80dLamWktA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Dentist Notes",
        "limit": 15,
        "filters": {
          "conditions": [
            {
              "keyName": "individual_id",
              "condition": "eq",
              "keyValue": "={{ $('Patient Record').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        704,
        -16
      ],
      "id": "2a74dd29-ff2b-47af-b0d6-35d314d2b2bd",
      "name": "Dentist Notes",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "grw4lm80dLamWktA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Appointment History",
        "limit": 15,
        "filters": {
          "conditions": [
            {
              "keyName": "individual_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        560,
        -16
      ],
      "id": "cb0cd9f1-fb95-4e6c-b5e5-d9c5d624254a",
      "name": "Appointment History",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "grw4lm80dLamWktA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {
          "temperature": 0.6,
          "numCtx": 8192
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1744,
        192
      ],
      "id": "058d7f47-e8b7-4811-8035-9b87b599fdd2",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "P7FvD3S1Np8fS6QE",
          "name": "NGROK OLLAMA HOST"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  \"Dentist Notes\": $(\"Dentist Notes\").all(),\n  \"Appointment History\": $(\"Appointment History\").all(),\n  \"Patient Record\": $(\"Patient Record\").all(),\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -16
      ],
      "id": "1cc1ef56-2aa3-43d7-9b39-6fc20a502dff",
      "name": "Combine to Structured"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst stringifiedItems = JSON.stringify(items.map((item) => item.json));\nreturn { result: stringifiedItems };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -16
      ],
      "id": "748cbae4-53d8-4dd4-91fb-6526e1a60133",
      "name": "Stringify"
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $json.result }}"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        1136,
        -16
      ],
      "id": "0cd2817f-eeaf-45f0-91fc-ff8291770c64",
      "name": "Hashing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b006841d-31ce-4341-9e7c-a4e7f02faa08",
              "leftValue": "={{ $items(\"Patient Record\")[0].json.isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        0
      ],
      "id": "8e17318c-d148-4621-a230-c8e026630562",
      "name": "Check if Record Exists"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Summaries",
        "filters": {
          "conditions": [
            {
              "keyName": "hash",
              "keyValue": "={{ $('Hashing').item.json.data }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1424,
        -16
      ],
      "id": "c805edc7-5dd3-4dae-9bf8-59251a47fd66",
      "name": "Summaries",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "grw4lm80dLamWktA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b006841d-31ce-4341-9e7c-a4e7f02faa08",
              "leftValue": "={{ $items(\"Summaries\")[0].json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1568,
        -16
      ],
      "id": "9b0b2b3c-41bb-4755-8b46-c851868f1775",
      "name": "Check if Summary Already Made"
    },
    {
      "parameters": {
        "tableId": "Summaries",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "hash",
              "fieldValue": "={{ $('Hashing').item.json.data }}"
            },
            {
              "fieldId": "individual_id",
              "fieldValue": "={{ $('Combine to Structured').item.json['Dentist Notes'][0].json.individual_id }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $json.output.summary }}"
            },
            {
              "fieldId": "version",
              "fieldValue": "={{ $('Summary Versioning').item.json['Summaries Version'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2032,
        48
      ],
      "id": "355e4914-bcfd-433a-b07e-b57c7314b550",
      "name": "Store Summary Output",
      "credentials": {
        "supabaseApi": {
          "id": "grw4lm80dLamWktA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b01db05-8bdc-4e62-bfca-ec3364564292",
              "name": "Summaries Version",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        -16
      ],
      "id": "b046a1ac-ed35-4a65-907a-9b7add5244df",
      "name": "Summary Versioning",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a clinical summarization assistant. Using the following data:\n\n{{ $('Stringify').item.json.result }}\n\nGenerate a structured, clinic-focused summary of the patient's recent dental history.\n\n1. **General Patient Information**\n   - Summarize demographics (full name, date of birth, ID number, address, phone).\n\n2. **Appointments (Organized by Staff)**\n   - Group appointments by each staff member involved.\n   - For each, list: appointment date, role (attendant/assistant), attendance status, and collaborating staff.\n\n3. **Dentist Notes (Chronological)**\n   - Present notes in order of occurrence.\n   - For each entry, include: appointment type, clinical findings, treatments performed, and changes compared to prior visits.\n   - Be detailed\n\n4. **Overall Clinical Summary**\n   - Provide a concise narrative overview of the patient's dental course.\n   - Highlight recurring conditions, treatment progress, and outcomes.\n   - Identify areas needing follow-up or monitoring.\n   - Be detailed\n\nFormat the output for **professional use in a dental clinic**, emphasizing clarity, conciseness, and clinical relevance.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1744,
        48
      ],
      "id": "3b028faa-6d58-48e5-951c-7caa2ef49301",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"summary\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1888,
        192
      ],
      "id": "993f9a19-3e98-4c63-b36b-1cfc71a36d12",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "errorMessage": "The record does not exist!"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        560,
        176
      ],
      "id": "6ae0a4bc-8c8c-43f7-b692-cf82cc6a75d9",
      "name": "Stop and Error"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "record_id": 1
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Patient Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patient Record": {
      "main": [
        [
          {
            "node": "Check if Record Exists",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Dentist Notes": {
      "main": [
        [
          {
            "node": "Combine to Structured",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appointment History": {
      "main": [
        [
          {
            "node": "Dentist Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Combine to Structured": {
      "main": [
        [
          {
            "node": "Stringify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stringify": {
      "main": [
        [
          {
            "node": "Hashing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Record Exists": {
      "main": [
        [
          {
            "node": "Appointment History",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Summary Already Made": {
      "main": [
        [],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Versioning": {
      "main": [
        [
          {
            "node": "Summaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hashing": {
      "main": [
        [
          {
            "node": "Summary Versioning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summaries": {
      "main": [
        [
          {
            "node": "Check if Summary Already Made",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Summary Output": {
      "main": [
        []
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Store Summary Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "any"
  },
  "versionId": "4e00040d-3fba-4bf9-80eb-d0b9e77cf6eb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4b45c4bfc930a30cf723717401a9f283a24972514643d562a20d54a9eb11ac8"
  },
  "id": "ZJyJH6zf2wrmTFbv",
  "tags": []
}