healthcare-medtech/n8n_workflows/Record_Summary_Workflow.json
{
  "name": "Record_Summary_Workflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"record_id\": 1\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -144,
        -208
      ],
      "id": "d7278052-82af-4b19-8d0e-f8899895f1c1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Individuals",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.record_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        16,
        -208
      ],
      "id": "de9feceb-a39a-4cc3-ab4b-6a1a62839674",
      "name": "Patient Record",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "c9Xf435KYATiW6Y3",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Dentist Notes",
        "limit": 15,
        "filters": {
          "conditions": [
            {
              "keyName": "individual_id",
              "condition": "eq",
              "keyValue": "={{ $('Patient Record').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        496,
        -224
      ],
      "id": "2201eace-6668-475a-8726-422da87c9d77",
      "name": "Dentist Notes",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "c9Xf435KYATiW6Y3",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Appointment History",
        "limit": 15,
        "filters": {
          "conditions": [
            {
              "keyName": "individual_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        352,
        -224
      ],
      "id": "4a1e02e8-c296-4806-8ffa-40433b605d25",
      "name": "Appointment History",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "c9Xf435KYATiW6Y3",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {
          "temperature": 0.6,
          "numCtx": 8192
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1536,
        -16
      ],
      "id": "38565de9-3f1d-4123-9deb-d67d8a7e888d",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "Hpr0lcAPg9nDMfpz",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  \"Dentist Notes\": $(\"Dentist Notes\").all(),\n  \"Appointment History\": $(\"Appointment History\").all(),\n  \"Patient Record\": $(\"Patient Record\").all(),\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -224
      ],
      "id": "a01910c4-eb8c-43b4-81a9-0fe61eea072a",
      "name": "Combine to Structured"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst stringifiedItems = JSON.stringify(items.map((item) => item.json));\nreturn { result: stringifiedItems };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -224
      ],
      "id": "84ad9a1f-1fe2-4181-b7a6-cd57a3301537",
      "name": "Stringify"
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $json.result }}"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        928,
        -224
      ],
      "id": "2a4f6301-e684-46f0-b677-967cf9046c72",
      "name": "Hashing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b006841d-31ce-4341-9e7c-a4e7f02faa08",
              "leftValue": "={{ $items(\"Patient Record\")[0].json.isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        -208
      ],
      "id": "3ab31c29-82b0-4fb8-9603-693eeeae0067",
      "name": "Check if Record Exists"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Summaries",
        "filters": {
          "conditions": [
            {
              "keyName": "hash",
              "keyValue": "={{ $('Hashing').item.json.data }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1216,
        -224
      ],
      "id": "c846ab73-d6d3-4a2a-8f1c-41fcbc77274c",
      "name": "Summaries",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "c9Xf435KYATiW6Y3",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b006841d-31ce-4341-9e7c-a4e7f02faa08",
              "leftValue": "={{ $items(\"Summaries\")[0].json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        -224
      ],
      "id": "75668cfb-8e37-4784-bd14-44df13d61828",
      "name": "Check if Summary Already Made"
    },
    {
      "parameters": {
        "tableId": "Summaries",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "hash",
              "fieldValue": "={{ $('Hashing').item.json.data }}"
            },
            {
              "fieldId": "individual_id",
              "fieldValue": "={{ $('Patient Record').item.json.id }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $json.output.summary }}"
            },
            {
              "fieldId": "version",
              "fieldValue": "={{ $('Summary Versioning').item.json['Summaries Version'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1824,
        -160
      ],
      "id": "876a43f2-b9d5-4b94-bcc4-b19c13b4020f",
      "name": "Store Summary Output",
      "credentials": {
        "supabaseApi": {
          "id": "c9Xf435KYATiW6Y3",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b01db05-8bdc-4e62-bfca-ec3364564292",
              "name": "Summaries Version",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        -224
      ],
      "id": "faf88d10-235e-4e68-bbd5-ef563a45ac3b",
      "name": "Summary Versioning",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a clinical summarization assistant. Using the following data:\n\n{{ $('Stringify').item.json.result }}\n\nGenerate a structured, clinic-focused summary of the patient's recent dental history.\n\n1. **General Patient Information**\n   - Summarize demographics (full name, date of birth, ID number, address, phone).\n\n2. **Appointments (Organized by Staff)**\n   - Group appointments by each staff member involved.\n   - For each, list: appointment date, role (attendant/assistant), attendance status, and collaborating staff.\n\n3. **Dentist Notes (Chronological)**\n   - Present notes in order of occurrence.\n   - For each entry, include: appointment type, clinical findings, treatments performed, and changes compared to prior visits.\n   - Be detailed\n\n4. **Overall Clinical Summary**\n   - Provide a concise narrative overview of the patient's dental course.\n   - Highlight recurring conditions, treatment progress, and outcomes.\n   - Identify areas needing follow-up or monitoring.\n   - Be detailed\n\nFormat the output for **professional use in a dental clinic**, emphasizing clarity, conciseness, and clinical relevance.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1536,
        -160
      ],
      "id": "b2b3f426-1dfd-4d74-a075-faf44064db70",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"summary\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1680,
        -16
      ],
      "id": "5d97ebf9-e775-420e-89d9-49151b750026",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "errorMessage": "The record does not exist!"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        352,
        -32
      ],
      "id": "418fcacf-03ae-4778-86b3-28ba349b0d8b",
      "name": "Stop and Error"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "record_id": 4
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Patient Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patient Record": {
      "main": [
        [
          {
            "node": "Check if Record Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dentist Notes": {
      "main": [
        [
          {
            "node": "Combine to Structured",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appointment History": {
      "main": [
        [
          {
            "node": "Dentist Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Combine to Structured": {
      "main": [
        [
          {
            "node": "Stringify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stringify": {
      "main": [
        [
          {
            "node": "Hashing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Record Exists": {
      "main": [
        [
          {
            "node": "Appointment History",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Summary Already Made": {
      "main": [
        [],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Versioning": {
      "main": [
        [
          {
            "node": "Summaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hashing": {
      "main": [
        [
          {
            "node": "Summary Versioning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summaries": {
      "main": [
        [
          {
            "node": "Check if Summary Already Made",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Store Summary Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f33e0b86-8d6d-436b-a93a-eb36ded62e97",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f54075985bfbaffe95d885847570f3c0fe24a84f90486b50e9cf38ee57c98470"
  },
  "id": "WLrsdSMIs1lIgYgb",
  "tags": []
}